header {
    display: flex;
    justify-content: space-around;
    background-color: #353535;
    align-items: center;
    padding: 10px;
}

.menuHamburgue {
    display: none;
    cursor: pointer;
    color: #eeeeee;
}

.mobile-links {
    display: none;
    text-align:end ;
}

.mobile-links>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.mobile-links>ul>li>a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
}

.mobile-links>ul>li {
    margin: 10px;
    width: 90%;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: #ffffff;
    font-family: MyriadPro-Regular;
    font-size: 1.2em;

}

header nav li {
    color: #ffffff;
    margin: 0px 20px;
}

.logo {
    width: 10em;
}

.logoicon {
    width: 2em;
}

@media screen and (max-width: 750px) {
    body{
        user-zoom: fixed;
    }
    header {
        display: flex;
        justify-content: space-around;
        padding: 1.2em;
    }

    header .logo {
        width: 5em;
    }

    header .menuHamburgue {
        display: flex;
        cursor: pointer;
    }

    header .links {
        display: none;
    }

    .mobile-links {
        display: none;
        position: absolute;
        display: flex;
        margin: 0 auto;
        background-color: #353535;
        width: 100%;
        color: #EEEEEE;
        box-shadow: 0px 5px 10px #131313a2;
    }

    .mobile-links>ul {
        display: flex;
        align-items: center;
    }
}